<div class="bg-image" style="background-image: url(Assets/images/hero-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="bg-content">
        <div class="table-cell">
            <div class="container">
                <h1 class="hero-title">I am Arshnoor Singh</h1>
                <p class="hero-subtitle"><span class="typed"
                        data-typed-items="Designer, Developer, Freelancer, Photographer">Developer</span><span
                        class="typed-cursor" aria-hidden="true">|</span></p>
            </div>
        </div>
    </div>
</div>