<div class="bg-image" style="background-image: url(Assets/images/hero-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="bg-content">
        <div class="table-cell">
            <div class="about-container">
                <object data="https://www.docdroid.net/WyjIuyO/fake-resume-pdf" width="800"
                    height="500">
                </object>
            </div>
        </div>
    </div>
</div>